body {
	display: flex;
	height: 100vh;
}

.nav,
.content {
	padding: 15px;
}

.nav {
	width: 20%;
	background: #3a3a3c;

	color: #dc4b4f;

	flex: 1 20%;
}

.content {
	flex: 1 80%;
}

#summary {
	margin-bottom: 15px;
}

#transaction-example {
	display: none;
}

.transaction {
	margin-bottom: 5px;
}

.status > span {
	display: block;
	width: 100%;
	height: 100%;
}

.approved,
.pending,
.declined {
	background: #4bb14b;
	color: #fff;
	display: block;
	text-align: center;
}

.pending {
	background: #f3a531;
}

.declined {
	background: #ca1717;
}

.table-header {
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
}